{% extends "base.html" %}

{% block title %}Login{% endblock %}

{# Sobrescrevemos o bloco do container para remover a margem e o container padrão #}
{% block main_container %}
<div class="login-main">
    <div class="login-container">
        <div class="col-md-5 login-branding">
            <h2>Bem-vindo de Volta!</h2>
            <p>Monitore seus atendimentos de forma eficiente e organizada.</p>
            </div>

        <div class="col-md-7 login-form-container">
            <h3 class="mb-4 text-center">Acesse sua Conta</h3>

            {% include '_flashes.html' %}

            <form method="POST" action="">
                {{ form.hidden_tag() }}

                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                    {{ form.username(class="form-control", placeholder="Nome de Usuário") }}
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                    {{ form.password(class="form-control", placeholder="Senha") }}
                </div>

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <div class="form-check">
                        {{ form.remember_me(class="form-check-input") }}
                        {{ form.remember_me.label(class="form-check-label") }}
                    </div>
                    <a href="#">Esqueceu a senha?</a>
                </div>

                {{ form.submit(class="btn btn-primary w-100") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}